{{/* vim: set ft=gotexttmpl: */ -}}
global
	log /dev/log local0{{if (not .Debug)}} info{{end}}
	chroot /var/lib/haproxy
	user haproxy
	group haproxy
	daemon

defaults
	log global
	timeout connect 7000
	timeout client  60000
	timeout server  60000

frontend {{replace .Service.ID "@" "-" -1}}
	# Listen on all interfaces instead of only {{.Service.Address}}.
	bind *:{{port .Service.Address}}
	option tcplog

	# Only accept TLS ClientHello messages.
	tcp-request inspect-delay 3000
	tcp-request content accept if { req.ssl_hello_type 1 }
{{range .Backends}}
	use_backend {{.Name}} if { req.ssl_sni {{.Name}}.{{.SniDomain}} }
{{- end}}
{{range .Backends}}
backend {{.Name}}
	{{- range .Servers}}
	server {{replace .ID "@" "-" -1}} {{.Address}} check inter 1m send-proxy-v2
	{{- end}}
{{end -}}
