{{/* vim: set ft=gotexttmpl: */ -}}
global
	log /dev/log local0{{if (not .Debug)}} info{{end}}
	chroot /var/lib/haproxy
	user haproxy
	group haproxy
	daemon

defaults
	log	global
	option	dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000

frontend {{replace .Service.ID "@" "-" -1}}
	# Listen on all interfaces instead of only {{.Service.Address}}.
	bind *:{{port .Service.Address}}

	# Only accept TLS ClientHello messages.
	tcp-request inspect-delay 1000
	tcp-request content accept if { req.ssl_hello_type 1 }
{{range .Backends}}
	use_backend {{.Name}} if { req.ssl_sni {{.Name}}.ivxv.invalid }
{{- end}}
{{range .Backends}}
backend {{.Name}}
	{{- range .Servers}}
	server {{replace .ID "@" "-" -1}} {{.Address}} check inter 1m send-proxy-v2
	{{- end}}
{{end -}}
