{#

IVXV Internet voting framework

Template file for ivxv-status utility output.

-#}
{# COLLECTOR #}
{% if 'collector' in sections %}
Collector state: {{ collector_state }}
{% endif %}

{# ELECTION #}
{% if 'election' in sections %}
Election ID: {{ election['election-id'] or '-' }}
Voting period config:
    Service start: {{ election['servicestart'] or '-' }}
    Service end: {{ election['servicestop'] or '-' }}
    Election start: {{ election['electionstart'] or '-' }}
    Election stop: {{ election['electionstop'] or '-' }}
Voting phase: {{ election['phase'] or '-' }}
    Phase start: {{ election['phase-start'] or '-' }}
    Phase end:   {{ election['phase-end'] or '-' }}
{% endif %}

{# CONFIG #}
{% if 'config' in sections %}
Config state:
    Trust root config: {{ config.trust or '-' }}
    Technical config: {{ config.technical or '-' }}
    Election config: {{ config.election or '-' }}
{% endif %}

{# LIST #}
{% if 'list' in sections %}
Lists state:
    Choices list: {{ list.choices or '-' }}
{%- if list.choices %}
    Choices list state: {{ list.choices == list['choices-loaded'] and
                           'LOADED TO SERVICE' or 'PENDING' }}
{% endif %}
    Districts list: {{ list.districts or '-' }}
{%- if list.districts %}
    Districts list state: {{ list.districts == list['districts-loaded'] and
                           'LOADED TO SERVICE' or 'PENDING' }}
{% endif %}
    Voters lists: {{ list['voters-list-total']
        }} [ APPLIED {{ list['voters-list-applied']
        }} ; PENDING {{ list['voters-list-pending']
        }} ; INVALID {{ list['voters-list-invalid']
        }} ; SKIPPED {{ list['voters-list-skipped']
        }} ]
{%- if not list['voters0000'] %}
        [No voter lists loaded]
{% else %}
{%- set ns = namespace(changeset_no=0) %}
{%- for key in list if key.startswith('voters') and key.endswith('-state') %}
        {% set ns.changeset_no = ns.changeset_no + 1 -%}
        {% set prefix = key|replace('-state', '') -%}
        {{ ns.changeset_no }}. {{ "%-7s"|format(list[prefix + '-state']) }} {{ list[prefix] }}
{%- endfor %}
{%- endif %}
{% endif %}

{# SERVICE #}
{% if 'service' in sections %}
Services: {{ service|count }} services in {{ network|count }} network(s)
{%- for network_name in network|sort %}
    Service network: {{ network_name }}, {{
        network[network_name]|count }} service(s)
{%- for service_id in network[network_name]|sort %}
{% set service = network[network_name][service_id] %}
        Service ID: {{ service_id }}
          Type: {{ service['service-type'] }}
          State: {{ service['state'] }}
          Address: {{ service['ip-address'] }}
          Technical config: {{ service['technical-conf-version']
                               or '-' }}
{%- if service['service-type'] not in ['backup', 'log'] %}
          Election config: {{ service['election-conf-version']
                              or '-' }}
{%- endif %}
{%- if service['service-type'] == 'backup' %}
          Automatic backup times: {{ service['backup-times'] or '-' }}
{%- endif %}
{%- if 'tls-key' in service %}
          Service TLS key: {{ service['tls-key'] or '-' }}
          Service TLS certificate: {{ service['tls-cert'] or '-' }}
{%- endif %}
{%- if 'mid-token-key' in service %}
          Mobile-ID/Smart-ID identity token key: {{ service['mid-token-key'] or '-' }}
{%- endif %}
{%- if 'tspreg-key' in service %}
          PKIX TSP registration key: {{ service['tspreg-key'] or '-' }}
{%- endif %}
          Last data received: {{ service['last-data'] or '-' }}
          Background info: {{ service['bg_info'] or '-' }}
{% endfor %}
{% endfor %}
{% endif -%}

{# STORAGE #}
{% if 'storage' in sections %}
Data storage:
    Software packages: {{ storage.debs_exists|count }} exists, {{
                          storage.debs_missing|count }} missing
{%- if storage.debs_missing %}
        Missing packages:
{%- for pkg in storage.debs_missing %}
            {{ pkg }}
{%- endfor %}
{%- endif %}
    Users count: {{ user|count }}
    Commands: {{
        storage.command_files_active|count + storage.command_files_inactive|count }} loaded ({{
        storage.command_files_active|count }} active, {{
        storage.command_files_inactive|count }} inactive)
        Active commands:
        {%- for command_file in storage.command_files_active %}
            {{ loop.index }}. {{ command_file }}
        {%- endfor %}
        Inactive commands:
        {%- for command_file in storage.command_files_inactive %}
            {{ loop.index }}. {{ command_file }}
        {%- endfor %}
{% endif %}
{#-
vim:ft=jinja:
#}
