# http://editorconfig.org

root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
end_of_line = lf

[Makefile]
indent_style = tab

[{Dockerfile,*.Dockerfile}]
indent_style = tab

[*.rst]
indent_style = space
indent_size = 4

[*.json{,.tmpl}]
indent_style = space
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2
