#include <windows.h>

#define SRV_MOUSE_DLGID 102
#define SRV_PROGRESS_BARID 1000
#define SRV_MOUSE_COLLECTID 1002
#define SRV_MOUSE_STATIC 1003
#define SRV_TEXT_A 1004
#define SRV_TEXT_B 1005
#define SRV_TEXT_C 1006


#define MY_WIDTH 495
#define MY_HEIGHT 278

#define BTN_WIDTH 50
#define BTN_HEIGHT 14
#define TXT_HEIGHT 14

#define SPACE 5

#define COLLECT_HEIGHT (MY_HEIGHT - 114)

SRV_MOUSE_DLGID DIALOG DISCARDABLE 0, 0, MY_WIDTH, MY_HEIGHT
STYLE DS_MODALFRAME | DS_NOIDLEMSG | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION
FONT 10, "MS Sans Serif"
BEGIN
	LTEXT "Please use your mouse and keyboard to generate events throughout the whole randomness generation ceremony.", SRV_MOUSE_STATIC,SPACE,SPACE,MY_WIDTH - 12,14
	LTEXT "", SRV_TEXT_A, SPACE, SPACE + (1 * TXT_HEIGHT), MY_WIDTH - 12, 14
	LTEXT "", SRV_TEXT_B, SPACE, SPACE + (2 * TXT_HEIGHT), MY_WIDTH - 12, 14
	LTEXT "", SRV_TEXT_C, SPACE, SPACE + (3 * TXT_HEIGHT), MY_WIDTH - 12, 14
	CONTROL "", SRV_MOUSE_COLLECTID, "Static", SS_LEFTNOWORDWRAP | SS_SUNKEN | WS_BORDER | WS_GROUP, 5, 63, MY_WIDTH - 12, COLLECT_HEIGHT
	CONTROL "Progress1", SRV_PROGRESS_BARID, "msctls_progress32", PBS_SMOOTH | WS_BORDER, SPACE, COLLECT_HEIGHT + SPACE + 63, MY_WIDTH - 12, 14
	PUSHBUTTON "QUIT",IDCANCEL,MY_WIDTH - 57,MY_HEIGHT - 21,BTN_WIDTH,BTN_HEIGHT
END
