{
    "choices": {
        "0164.1": {
            "Nimi Valimisliit": {
                "0164.126": "Nimi Kandidaat",
                "0164.127": "Nimi Kandidaat"
            }
        },
        "0296.1": {
            "Nimi Erakond": {
                "0296.198": "Nimi Kandidaat",
                "0296.199": "Nimi Kandidaat",
                "0296.200": "Nimi Kandidaat"
            },
            "Nimi Valimisliit": {
                "0296.115": "Nimi Kandidaat",
                "0296.116": "Nimi Kandidaat",
                "0296.117": "Nimi Kandidaat"
            },
            "Üksikkandidaadid": {
                "0296.101": "Nimi Kandidaat",
                "0296.102": "Nimi Kandidaat"
            }
        }
    },
    "election": "TESTKOV"
}
