{
  "election": "KOV2034",
  "regions": {
    "0809": {
      "parish": "Tori vald",
      "county": "Pärnu maakond",
      "state": "Eesti Vabariik"
    },
    "0624": {
      "parish": "Pärnu linn",
      "county": "Pärnu maakond",
      "state": "Eesti Vabariik"
    },
    "0524": {
      "parish": "Nõmme linnaosa",
      "county": "Tallinn",
      "state": "Eesti Vabariik"
    },
    "0784": {
      "county": "Tallinn",
      "state": "Eesti Vabariik"
    },
    "0796": {
      "parish": "Tartu vald",
      "county": "Tartu maakond",
      "state": "Eesti Vabariik"
    },
    "0793": {
      "county": "Tartu linn",
      "state": "Eesti Vabariik"
    }
  },
  "districts": {
    "0809.1": {
      "name": "Valimisringkond nr. 1",
      "parish": [
        "0809"
      ]
    },
    "0809.2": {
      "name": "Valimisringkond nr. 2",
      "parish": [
        "0809"
      ]
    },
    "0624.1": {
      "name": "Valimisringkond nr. 1",
      "parish": [
        "0624"
      ]
    },
    "0784.6": {
      "name": "Valimisringkond nr. 6",
      "parish": [
        "0524"
      ]
    },
    "0796.1": {
      "name": "Valimisringkond nr. 1",
      "parish": [
        "0796"
      ]
    },
    "0793.1": {
      "name": "Valimisringkond nr. 1",
      "parish": [
        "0793"
      ]
    }
  },
  "counties": {
    "0068": [
      "0809",
      "0624"
    ],
    "0784": [
      "0524"
    ],
    "0079": [
      "0796"
    ],
    "0793": [
      "0793"
    ]
  }
}
