{
  "election": "TESTKOV", 
  "onlinevoters": {
    "164.1": {
      "164.1": {
        "11412090001": [
          "Nimi Nimeste", 
          1
        ], 
        "11412090002": [
          "Nimi Nimeste", 
          1
        ], 
        "11412090003": [
          "Nimi Nimeste", 
          1
        ]
      }
    }, 
    "296.1": {
      "296.1": {
        "11412090004": [
          "Nimi Nimeste", 
          1
        ], 
        "11412090005": [
          "Nimi Nimeste", 
          1
        ], 
        "11412090006": [
          "Nimi Nimeste", 
          1
        ]
      }, 
      "296.2": {
        "11412090007": [
          "Nimi Nimeste", 
          1
        ], 
        "11412090008": [
          "Nimi Nimeste", 
          1
        ], 
        "11412090009": [
          "Nimi Nimeste", 
          1
        ]
      }
    }
  }
}
