{
    "election": "TESTKOV",
    "districts": {
        "0164.1": {
            "0164": {
                "TESTKOV.1": [
                    "MDkxOS4xMDUK",
                    "MDkxOS4xMDQK",
                    "MDkxOS4xMDEK",
                    "MDkxOS4xMDMK"
                ]
            }
        },
        "0296.1": {
            "0296": {
                "TESTKOV.1": [
                    "MDkxOS4xMDQK",
                    "MDkxOS4xMDQK"
                ]
            }
        }
    }
}
