{
  "districts": {
    "164.1": {
      "name": "Valimisringkond nr. 1", 
      "stations": [
        "164.1"
      ]
    }, 
    "296.1": {
      "name": "Valimisringkond nr. 1", 
      "stations": [
        "296.1", 
        "296.2"
      ]
    }, 
    "784.6": {
      "name": "Valimisringkond nr. 6", 
      "stations": [
        "524.68"
      ]
    }, 
    "784.8": {
      "name": "Valimisringkond nr. 8", 
      "stations": [
        "614.85", 
        "614.86", 
        "614.87"
      ]
    }, 
    "795.1": {
      "name": "Valimisringkond nr. 1", 
      "stations": [
        "795.1", 
        "795.2"
      ]
    }
  }, 
  "election": "TESTKOV", 
  "regions": {
    "164": {
      "county": "Ida-Viru maakond", 
      "parish": "Avinurme vald", 
      "state": "Eesti Vabariik"
    }, 
    "296": {
      "county": "Harju maakond", 
      "parish": "Keila linn", 
      "state": "Eesti Vabariik"
    }, 
    "524": {
      "county": "Tallinn", 
      "parish": "N\u00f5mme linnaosa", 
      "state": "Eesti Vabariik"
    }, 
    "614": {
      "county": "Tallinn", 
      "parish": "P\u00f5hja-Tallinna linnaosa", 
      "state": "Eesti Vabariik"
    }, 
    "784": {
      "county": "Tallinn"
    }, 
    "795": {
      "county": "Tartu linn", 
      "state": "Eesti Vabariik"
    }
  }
}
