# We depend on pip-tools being installed to venv.
#
# Add dependencies to this file
# pip-compile to update requirements.txt
# pip-sync to update venv

docopt==0.6.2
schema==0.7.7
polib==1.2.0
deepl==1.19.1
